<nav class="navbar navbar-light bg-light">
  <button class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">
  <ngb-tabset>
    <ngb-tab title="All Designs">
      <ng-template ngbTabContent>
        <div class="row">
          <app-shirt *ngFor="let shirt of shirtList" [shirt]="shirt"></app-shirt>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Men">
      <ng-template ngbTabContent>
        <div class="row">
          <app-shirt *ngFor="let shirt of shirtList  | filterByGender:'M'" [shirt]="shirt"></app-shirt>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Women" [disabled]="false">
      <ng-template ngbTabContent>
        <div class="row">
          <app-shirt *ngFor="let shirt of shirtList | filterByGender:'F'" [shirt]="shirt"></app-shirt>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>