.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    filter: blur(15px);
    transform: scale(1.1)
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    filter: contrast(120%);
}

.row {
    height: 100vh;
}

.center-img {
    background-color: white;
}

img {
    max-height: 100%;
    max-width: 100%;
    width: 70%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.vertical-logo {
    left:16px;
}

.copyright {
    font-size: 12px;
    position: relative;
    top: 98vh;
    margin: auto;
    color: #274686;
}

.container {
    display: table;
    max-height: 100%;
    max-width: 100%;
    width: 70%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}