<div class="container">

  <div class="text-center">
    <h2>Log in</h2>
    <br>
    <button type="button" class="btn btn-primary">
      <i class="fa fa-facebook"></i>WITH FACEBOOK</button>
    <br>
    <br>
    <button type="button" class="btn btn-primary">
      <i class="fa fa-twitter"></i>WITH TWITTER</button>
  </div>
  <div class="hr">
    <span>OR</span>
  </div>
  <form>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" class="form-control">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">LOG IN</button>
    </div>
  </form>
</div>