/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900');
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
    height: 100%;
}

h1, h2, h3, h4, body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50pt;
    font-weight: 800;
    color: #545871;

}

h2 {
    font-size: 40pt;
    font-weight: 800;
    color: white;
}

h3 {
    font-size: 30pt;
    font-weight: 800;
    color: #545871;
}

h4 {
    font-size: 18pt;
    font-weight: 700;
    color: #10A2DC;
}

body {
    font-size: 20pt;
    font-weight: 400;
    color: #444444;
}

label {
    font-size: 12pt;
    font-weight: 400;
    color: white;
}

.primary-btn {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    padding: 9px 30px;
    min-width: 144px;
    background-color: #10A2DC;
    color: #FFFFFF;
    outline: 0;
    border: 0;
    transition-duration: 0.4s;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin-bottom: 5px;
}

.primary-btn:hover {
    background-color: #00B7FF;
}



.primary-btn:focus, .primary-btn:active:focus, .primary-btn.active:focus {
    outline: 0;
}

.primary-btn.active, .primary-btn:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}

/* For material tabs */
.mat-tab-label {
    color: #FFFFFF;
    opacity: 1 !important;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.mat-tab-label:focus{
    background-color: transparent !important;
}

.mat-ink-bar {
    background-color:#FFFFFF !important;
}

.mat-tab-header {
    border-bottom: 1px solid #FFFFFF;
}

/* For bootstrap tabs */
ngb-tabset ul li .nav-link.active, ngb-tabset ul li .nav-link:active{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #274686 !important;
    border-color: #EEEEEE !important;
    border-bottom: 2px solid #274686 !important;
    background-color: #EEEEEE !important;
}

ngb-tabset ul li .nav-link{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #CDCDCD !important;
}